# Rust / Cargo
/target
**/*.rs.bk

# Logs & dumps
*.log
*.tmp

# OS
.DS_Store

# VSCode
.vscode/
.venv/

# Datasets locaux
datasets/*

# Benchmarks
benchmarks/*

# Notes
docs/.notes/*

# Temp files
/tmp/