# Rust / Cargo
/target
**/*.rs.bk

# Logs & dumps
*.log
*.tmp

# OS
.DS_Store

# VSCode
.vscode/
.venv/

# Node
**/node_modules/
**/package-lock.json

# Datasets locaux
datasets/*

# Local data layout
data/inputs/*
data/ingest/*
!data/inputs/.gitkeep
!data/ingest/.gitkeep

# Benchmarks
benchmarks/*

# Notes
docs/.notes/*

# Temp files
/tmp/*
!/tmp/.gitkeep
